* {
    box-sizing: content-box;
    margin: 0;
}

body {
    background-color: #F2EBC7;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 100px auto;
    width: 600px;
    height: 600px;
    outline: 1px solid black;
}

.size-btn {
    display: flex;
    align-items: center;
    margin: 50px auto;
    font-size: 24px;
    padding: 15px;
    background-color: #f8d19d;
    color: #5C4B51;
}

.size-btn:hover {
    outline: 2px solid #5C4B51;
    background-color: #F3B562;
    font-weight: 900;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #222222;
    color: #F2EBBF;
    text-align: center;
    font-size: 18px;
    white-space: pre;
}

.footer * {
    text-decoration: none;
    font-weight: 900;
    color: #F2EBBF;
}
